production:
  adapter: mysql2
  database: {{ pdns_on_rails_database_name | default("pdns") }}
  host: {{ pdns_on_rails_database_host | default("localhost") }}
  username: {{ pdns_on_rails_database_user }}
  password: {{ pdns_on_rails_database_pass }}

